
@mixin heading1 {
    font-size: 60px;
    font-family: 'Staatliches', cursive;
}

@mixin heading2 {
    font-family: 'Volkhov', serif;
    font-size:40px;
     color: black
    

}

@mixin heading3 {
    font-size: 20px;
    color: black;
    padding-top: 20px;
    font-family: 'Lalezar', cursive;
    text-align: center;
    margin-bottom: 2px;
}

@mixin heading3main {
    font-size:20px;
    font-family: 'Bungee', cursive;
    color: black;
    text-align: center;

}

@mixin heading4{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    padding-top:20px;
    padding-bottom: 10px;
}

@mixin paragraph{
    font-size: 15px;
    padding:10px 10px;
    
    background-color: rgb(214, 205, 205);
}

@mixin links{
     
    
      
}