.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr 200px;
        grid-template-columns: 200px 1fr 200px;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    grid-gap: 1em;
  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  color: #f5eeee;
}

header h1 {
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  padding-top: 20px;
  color: black;
}

header h2 {
  font-family: 'Volkhov', serif;
  font-size: 40px;
  color: black;
  padding-bottom: 20px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

main h3 {
  font-size: 20px;
  font-family: 'Bungee', cursive;
  color: black;
  text-align: center;
}

main #workex {
  padding: 10px 10px;
  background-color: #f5f0f0;
}

main #education {
  background-color: #353535;
  padding: 10px 10px;
  color: white;
}

main #techskill {
  padding: 10px 10px;
  background-color: #f5f0f0;
}

main #langskill {
  padding: 10px 10px;
  background-color: #222122;
  color: white;
}

main h4 {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  padding-top: 20px;
  padding-bottom: 10px;
}

main p {
  font-size: 15px;
  padding: 10px 10px;
  background-color: #d6cdcd;
}

nav a:link {
  text-decoration: none;
}

nav h3 {
  font-size: 20px;
  color: black;
  padding-top: 20px;
  font-family: 'Lalezar', cursive;
  text-align: center;
  margin-bottom: 2px;
}

nav .tech {
  background-color: #f8f7f2;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

nav .edu {
  background-color: #323233;
  color: white;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

nav .work {
  background-color: #f8f7f2;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

nav .language {
  background-color: #323233;
  color: white;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

aside {
  padding: 20px;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #7f817a;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/*Gitgub*/
.fa-github {
  background: #333333;
  color: white;
}

/*Linkedin*/
.fa-linkedin {
  background: #23668d;
  color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  margin: 0px 50px;
}

.parallax {
  /* The image used */
  background-image: url("./assets/img/wood.jpeg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=main.css.map */