@import "./mixin-variables/mixin";

header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    color: rgb(245, 238, 238);
    
    h1{
        @include heading1;
        padding-top:20px;
        color: black;
    }
    h2{
         @include heading2;
         padding-bottom: 20px
    }
  
    
  }