@import "./mixin-variables/mixin";


nav {
  
  a:link {
    text-decoration: none;
  }
  

    h3{
        @include heading3;
    }

    .tech{
        background-color: rgb(248, 247, 242);
        margin-bottom: 40px;
        padding-bottom:10px
        
    }
    .edu{
        background-color: rgb(50, 50, 51);
        color: white;
        margin-bottom: 40px;
        padding-bottom:10px
    }
    .work{
      background-color: rgb(248, 247, 242);
      margin-bottom: 40px;
        padding-bottom:10px

    }
    .language{
      background-color: rgb(50, 50, 51);
      color: white;
      margin-bottom: 40px;
        padding-bottom:10px

    }
  }
   
  aside {
    padding: 20px;
  }
  
  footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: rgb(127, 129, 122);
    color: white;
  }

   
 